
@{
    ViewBag.Title = "Login";
}

<h1>Logga in</h1>

@using (Html.BeginForm("Login", "Auth", FormMethod.Post, new { @class = "form-horizontal login-form", role="form" }))
{
    @Html.ValidationSummary(true, string.Empty, new { @class = "alert alert-danger" })
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
        <input id="login-password" type="password" class="form-control" name="password" placeholder="Lösenord">
    </div>
    <div class="input-group">
        <div class="controls">
            <button type="submit" class="btn btn-primary">Logga in</button>
        </div>
    </div>
}